COOKIE_SECRET=thisismysecret

# test db
MONGO_CONNECTION=mongodb+srv://sampleclusterdb:sampleclusterdbpassword@samplecluster.q5bocxd.mongodb.net/multi-purpose-diery?retryWrites=true&w=majority

# live
# MONGO_CONNECTION=mongodb+srv://sampleclusterdb:sampleclusterdbpassword@samplecluster.q5bocxd.mongodb.net/multi-purpose-diery-live?retryWrites=true&w=majority